# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>

dataretrieval
datetime
fiona==1.9.4.post1
geopandas==0.13.2
geopy==2.3.0
h5py==3.8.0
hydroeval==0.1.0
hydrotools==2.2.2
joblib==1.2.0
matplotlib==3.5.1
numpy==1.21.5
pandas==1.4.2
progressbar
scikit-learn==1.2.2
scipy==1.7.3
streamstats
tables==3.8.0
xarray==2023.5.0
xgboost==1.7.5
ee
earthengine-api


